<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>OIDC Login</title>

    <link rel="stylesheet" href="/assets/css/grotesk.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <script>
      function checkSession() {
        if (document.cookie.indexOf('timer') === -1) {
          // grant session has expired so reload home page
          document.location.href = '<%= details.homePage %>';
        }
        else {
          testSession();
        }
      }

      function testSession() {
        setTimeout(function() {
          checkSession();
        },10000);
      }

      testSession();
    </script>

    <div id="root">

      <div class="LoginRegister">

        <div class="form-box">
          <div class="titleLogin">
            Forgot your Password?<i class="fa fa-angle-down"></i>
          </div>

          <div class="grant-debug">
            <%- details.params.error %>
          </div>

          <center>
            Enter your registered email address and you'll be sent
            <br /> 
            a temporary one-time password
          </center> 

          <form class="forms" autocomplete="off" action="/openid/interaction/<%= details.uuid %>/requestNewPassword" method="post">

            <label>
              Email Address
              <input placeholder="Enter your email address" required type="email" name="email"  autofocus="on" />
            </label>

            <div class="btn-box">
              <button class="succes" type="submit"><i class="fa fa-check"></i>Send</button>
            </div>
          </form>
        </div>
      </div>

      <div class="footer">

      </div>

    </div><!-- #root -->
  </body>
</html>
