<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <title>OIDC Login</title>

    <link rel="stylesheet" href="/assets/css/grotesk.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <script>
      function checkSession() {
        if (document.cookie.indexOf('timer') === -1) {
          // grant session has expired so reload home page
          document.location.href = '<%= details.homePage %>';
        }
        else {
          testSession();
        }
      }

      function testSession() {
        setTimeout(function() {
          checkSession();
        },10000);
      }

      testSession();
    </script>

    <div id="root">

      <div class="LoginRegister">

        <div class="form-box">
          <div class="titleLogin">
            Attention!
          </div>

          <p>&nbsp;</p>
          <p>
            <center>
              You have exceeded the maximum number of attempts to log in
            </center>
          </p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>

        </div>
      </div>

      <div class="footer">
      </div>

    </div><!-- #root -->
  </body>
</html>
